// Fourth Wall Events: Screen Stylesheet

@import 'partials/bourbon/bourbon';
@import 'partials/neat/neat';
@import 'partials/base';

html {
  font-size: 16px;
  font-family: 'Helvetica', arial, sans-serif;
}

body {
  font-size: 1em;
  background: $background;
  color: $text-color;
}
