.accordion {
  visibility: hidden;
  opacity: 0;
  max-width: $max-width;
  margin: 0 auto;
  @include transition(opacity $transition-speed);

  &.initialized {
    visibility: visible;
    opacity: 1;
  }

  .pane-header {
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    a {
      display: block;
      width: 100%;
      padding: rem(25);
      padding-left: rem(32);
      color: $white;
      font-size: rem(24);
      line-height: rem(29);
      @include clearfix;

      @include media($bp-above-mobile) {
        padding-left: rem(104);
        font-size: rem(35);
        line-height: 1.2;
      }

      &:hover {
        color: $white !important;
      }
    }

    .icon {
      float: left;
      width: rem(40);
      margin-right: rem(28);

      img {
        border: 0;
        margin: 0;
      }
    }

    .title {
      float: left;
      @include calc(width, '100% - 120px');

      @include media($bp-above-mobile) {
        @include calc(width, '100% - 180px');
      }
    }

    .plusminus {
      display: block;
      float: left;
      width: rem(30);
      text-align: right;
      color: $white;
      font-size: rem(65);
      line-height: rem(26);

      @include media($bp-above-mobile) {
        margin-top: rem(10);
      }
    }
  }

  .pane-content {
    overflow: hidden;
    @include transition(max-height 500ms ease-out, padding 500ms ease-out);

    &.closed {
      @include transition(max-height 500ms ease-out, padding 500ms ease-out);
    }

    .pane-body {
      padding: rem(40) rem(24);

      @include media($bp-above-mobile) {
        padding: rem(40) rem(104);
      }

      h2 {
        border-bottom: 0;
      }

      h3 {
        margin-top: 0;
      }
    }

    h2 {
      font-size: rem(20);
    }
  }
}
