.archive-filter {
  background: $content-bg;
  padding: rem(30) rem(20);

  #event-categories {
    text-align: center;

    @include media($bp-above-mobile) {
      text-align: left;
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  select {
    outline: none;
    border: 1px solid $select-border;
    width: rem(275);
    font-size: rem(16);
    font-style: italic;
    background: $white;
    padding: rem(5) rem(20);
  }
}

#main-page-content.archive {
  @include media($bp-above-mobile) {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;
  }
}

.page-header {
  hr {
    border: 0;
    border-bottom: 1px solid $post-byline-border;
    width: 100%;
  }
}

.archive-intro {
  font-size: rem(16);
  font-weight: 300;
  line-height: rem(24);

  @include media($bp-above-mobile) {
    font-size: rem(22);
    line-height: rem(29);
    margin-bottom: rem(80);
  }
}

.gallery-results,
.post-results {
  @include media($bp-above-mobile) {
    margin-bottom: rem(80);
  }

  .result {
    margin-bottom: rem(20);

    @include clearfix;

    @include media($bp-above-mobile) {
      margin-bottom: rem(40);
    }

    .thumbnail,
    .title {
      float: left;
    }

    .thumbnail {
      img {
        border: 5px solid $archive-thumb-border;
        width: rem(95);
        height: rem(75);
        margin: 0;

        @include media($bp-above-mobile) {
          width: rem(162);
          height: rem(128);
        }
      }
    }

    .title {
      margin-left: rem(8);

      @include media($bp-above-mobile) {
        margin-left: rem(30);
      }

      a {
        font-weight: bold;

        @include media($bp-above-mobile) {
          font-size: rem(20);
          line-height: rem(28);
        }
      }

      .excerpt {
        font-size: rem(16);
        line-height: rem(28);
        font-weight: 300;

        p {
          margin: 0;
        }
      }
    }
  }
}

.post-results {

  @include media($bp-above-mobile) {
    margin-top: rem(80);
  }

  .result {
    .title {
      @include media($bp-above-mobile) {
        @include calc(width, '100% - 192px');
      }
    }
  }
}

