/**
 * Set base font size and other defaults
 * @group base
 */
html {
  font-size: $base-font-size;
  font-family: $source-sans;
}

/**
 * Default font color and body background
 */
body {
  font: {
    size: 1em;
    weight: 300;
  };
  background: $background;
  color: $text-color;
}

/**
 * Full width, elastic container element
 */
.full-width {
  width: 100%;
  margin: 0;
  padding: 0;
  @include clearfix;
}

/**
 * Pusher content div
 */
.content {
  position: relative;
  overflow-y: scroll;
}

/**
 * Pusher inner content div
 */
.content-inner {
  position: relative;
}

.pusher {
  position: relative;
  right: 0;
  z-index: 99;
  height: 100%;
  @include transition(transform 500ms);
}
