/**
 * Set base font size and other defaults
 * @group base
 */
html {
  font-size: $em-base;
  font-family: $source-sans;
}

/**
 * Default font color and body background
 */
body {
  font: {
    size: 1em;
    weight: 400;
  };
  background: $background;
  color: $text-color;
}

p {
  //font-weight: 300;
  line-height: rem(26);

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

a {
  color: $text-color;
  @include transition(color $transition-speed $transition-easing);

  &:hover {
    color: $link-hover;
  }

  &.button {
    @extend %button;

    &:hover {
      color: $white;
    }

    &.block {
      display: block;
    }

    &.inline-block {
      display: inline-block;
    }

    &.center {
      text-align: center;
      margin: 0 auto;
    }

    .button-icon {
      &.right {
        margin-left: rem(10);
      }

      &.left {
        margin-right: rem(10);
      }
    }

    .fa.big {
      font-size: rem(22);
    }
  }
}

/**
 * Full width, elastic container element
 */
.full-width {
  width: 100%;
  margin: 0;
  padding: 0;
  @include clearfix;
}

/**
 * Pusher content div
 */
.content {
  position: relative;
  overflow: auto;
}

/**
 * Pusher inner content div
 */
.content-inner {
  position: relative;
}

.pusher {
  position: relative;
  right: 0;
  z-index: 99;
  height: 100%;
  @include transition(transform 500ms);
}

h1 {
  font-size: rem(32);
  color: $blue;
  font-weight: 400;
}

input[type="submit"] {
  @extend %button;
}
