section.content-section.case-study {

  .post-header {
    h1 {
      color: $blue;
    }
  }

  .post-excerpt {
    padding-bottom: rem(20);
  }

  .gallery-images + .post-content {
    padding-top: rem(20);
  }

}
