.call-to-action {
  padding: rem(40) 0;

  .cta-body {
    background: rgba($tan, .9);
    padding: rem(20) 0;
    padding-bottom: rem(30);
  }

  .cta-contents {
    max-width: rem(800);
    margin: 0 auto;
    padding: 0 rem(20);
    color: $cta-text;
    font-size: rem(18);
  }
}
