.call-to-action {
  padding: rem(40) 0;

  .cta-body {
    background: rgba($white, .9);
    padding: rem(20) 0;
    padding-bottom: rem(30);
  }

  .cta-contents {
    max-width: rem(800);
    margin: 0 auto;
    padding: 0 rem(20);
    color: $cta-text;
    font-size: rem(18);
  }
}

#socials {
  background: $footer-dark-green;
  padding-top: rem(20);
  padding-bottom: rem(20);

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    max-width: rem(270);
    text-align: center;
    @include clearfix;
  }

  li {
    display: inline-block;
    width: rem(32);
    text-align: center;
    margin-right: rem(12);

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: rem(32);
    color: $white;
    text-decoration: none;

    &:hover {
      color: $green;
    }
  }
}

#contact {
  background: $footer-green;
  color: $white;
  padding: rem(25);

  h2 {
    margin: 0 auto;
    margin-bottom: rem(40);
    padding-bottom: rem(24);
    font-size: rem(28);
    font-weight: 600;
    max-width: rem(1060);
    text-align: center;
    border-bottom: 1px solid $white;
  }

  p,
  #address,
  #footer-contact {
    max-width: rem(800);
    margin: 0 auto;
  }
}
