section.content-section.gallery,
section.content-section.case-study {

  .post-header {
    border-bottom: 1px solid $post-byline-border;
    margin-left: rem(22);
    margin-right: rem(22);
    margin-bottom: rem(40);

    @include media($bp-above-mobile) {
      max-width: $max-width;
      margin: 0 auto rem(80);
    }

    h1 {
      color: $gallery-header-text;
      margin-bottom: 0;

      @include media($bp-above-mobile) {
        font-size: rem(40);
      }
    }

    .details {
      text-align: center;
      margin-bottom: rem(16);
      font-style: italic;
      font-size: rem(16);
      line-height: rem(29);

      @include media($bp-above-mobile) {
        margin-top: rem(10);
        font-size: rem(22);
        line-height: rem(22);
        @include clearfix;
      }

      .date,
      .location {
        @include media($bp-above-mobile) {
          display: inline-block;
        }
      }

      .location + .date {
        @include media($bp-above-mobile) {
          padding-left: rem(22);
          margin-left: rem(22);
          border-left: 1px solid $text-color;
        }
      }

      .fa {
        font-size: rem(30);
      }

      .text {
        display: inline-block;
        position: relative;
        top: rem(-5);
        margin-left: rem(10);
      }
    }
  }

  .post-content,
  .post-excerpt {
    padding-left: rem(22);
    padding-right: rem(22);
    padding-bottom: rem(40);
    font-size: rem(14);
    font-weight: $light;

    @include media($bp-above-mobile) {
      max-width: rem(800);
      margin: 0 auto;
      font-size: rem(16);
      line-height: rem(24);
    }
  }

  .gallery-images {

    @include media($bp-above-mobile) {
      max-width: $max-width;
      margin: 0 auto;
    }

    .case-study-link {
      background: $content-bg;
      text-align: center;
      padding-top: rem(22);
      padding-bottom: rem(22);

      @include media($bp-above-mobile) {
        position: relative;
        top: rem(20);
        float: right;
        max-width: rem(380);
        width: percent(380, 1060);
        text-align: right;
      }

      a {
        text-decoration: none;

        @include media($bp-above-mobile) {
          display: block;
          padding-right: rem(30);
          font-size: rem(22);
          line-height: rem(24);
        }

        .fa {
          margin-left: rem(10);
          font-size: rem(20);

          @include media($bp-above-mobile) {
            font-size: rem(30);
            margin-left: rem(50);
          }
        }
      }
    }

    .gallery-slider {
      position: relative;

      @include media($bp-above-mobile) {
        clear: right;
      }

      .slider-arrows {
        @extend %slider-arrows;
        @include transition(top 500ms);
      }
    }

    .photo-grid {
      display: none;

      @include media($bp-above-mobile) {
        display: block;
        @include clearfix;
      }

      .photo {
        display: inline-block;
        margin-right: rem(30);
      }
    }

  }
}
