/**
 * Overall container for all of the page's content
 */
#master-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

#logo-nav-btn {
  height: em(69);
  overflow: hidden;
  @include clearfix;

  #logo {
    display: block;
    float: left;

    img {
      width: em(115);
    }
  }

  #hamburger {
    display: block;
    float: right;
  }
}
