/**
 * Overall container for all of the page's content
 */
#master-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

#main-nav {
  box-shadow: em(-5) 0 em(10) 0 rgba(0, 0, 0, .1);
  @include transition(transform 500ms);

  .search-form {
    background: $tan;

    span.screen-reader-text {
      display: none;
    }

    input[type='submit'] {
      display: none;
    }
  }
}
