// Homepage styles

.slider {
  figure {
    margin: 0;

    a {
      display: block;
      position: relative;
      @include clearfix;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: rem(10) rem(20);
      background: rgba(0, 0, 0, .69);
      color: $white;
      text-align: right;
      font: {
        size: rem(31);
        family: $source-sans;
        weight: 200;
      };
    }
  }

  .slides {
    margin-bottom: 0;
  }
}

