// Homepage styles

.slider {
  figure {
    margin: 0;

    a {
      display: block;
      position: relative;
      @include clearfix;
    }

    img {
      max-height: 720px;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: rem(10) rem(20);
      background: rgba(0, 0, 0, .69);
      color: $white;
      text-align: right;
      font: {
        size: rem(31);
        family: $source-sans;
        weight: 200;
      };

      @include media($bp-above-tablet) {
        right: 0;
        width: 47%;
        text-align: left;
        font-size: rem(54);
        padding-left: rem(92);
        text-shadow: rem(1) rem(1) rem(3) rgba(0, 0, 0, .75);
      }
    }
  }

  .slides {
    margin-bottom: 0;
  }
}

#main-page-content.home {
  max-width: $max-width;
  margin: 0 auto;
  @include clearfix;

  h1 {
    font-size: rem(40);
    font-weight: 400;
    margin-bottom: rem(18);
  }

  h2 {
    color: $blue;
    text-align: left;
    padding-bottom: 0;
  }

  p {
    @include media($bp-above-mobile) {
      font-size: rem(22);
      line-height: rem(29);
      font-weight: 300;
      padding-left: 0;
    }
  }

  .column-left {
    @include media($bp-above-tablet) {
      float: left;
      width: 30.188679245%;
    }
  }

  .column-right {
    @include media($bp-above-tablet) {
      float: right;
      width: 69.811320755%;
    }
  }
}
