// Main Content Area

#breadcrumbs {
  display: none;

  @include media($bp-above-mobile) {
    display: block;
  }
}

.sharing {
  display: none;
  @include clearfix;

  @include media($bp-above-mobile) {
    display: block;
    margin-bottom: rem(40);
  }

  a.addthis-share {
    display: block;
    float: right;
    border-radius: rem(2);
    width: rem(76);
    background: $orange;
    color: $white;
    text-decoration: none;
    font-size: rem(16);
    text-align: left;
    padding: rem(4);

    @include transition(background $transition-speed $transition-easing);

    &:hover {
      background: $green;

      .plus {
        color: $green;
      }
    }

    .plus {
      float: left;
      background: $white;
      color: $orange;
      text-align: center;
      width: rem(20);
      margin-right: rem(4);
      @include transition(color $transition-speed $transition-easing);
    }
  }
}

section.content-section,
div.content-section {
  &#main-page-content {
    h2 {
      font-size: rem(24);
    }
  }

  &.padded {
    padding: rem(25);
  }

  &.bg {
    background-size: 700%;
    background-position: 65% 100%;
    color: $white;

    @include media($bp-above-mobile) {
      background-size: 80%;
      background-position: 150% 100%;
    }

    h2 {
      border-bottom: 1px solid $white;
    }
  }

  .post-content {
    @include media($bp-above-mobile) {
      width: 100%;
      max-width: $max-width;
      margin: 0 auto;
    }

    p {
      font-weight: 300;
    }
  }

  &.blue {
    background-image: url('../img/bg-blue.svg');
  }

  &.green {
    background-image: url('../img/bg-green.svg');
  }

  &.magenta {
    background-image: url('../img/bg-magenta.svg');
  }

  &.orange {
    background-image: url('../img/bg-orange.svg');
  }

  &.bg-none {
    h1, h2, h3, h4 {
      color: $blue;
    }

    h2 {
      border-bottom: 1px solid $blue;
    }

    ul.thumb-list a {
      color: $text-color;
    }
  }

  .section-inner {
    padding: rem(25);

    @include media($bp-above-tablet) {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    font-weight: 400;
  }

  h2 {
    padding-bottom: rem(25);
    padding-top: rem(25);

    @include media($bp-above-mobile) {
      font-size: rem(40);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  h3 {
    font-size: rem(24);
    font-weight: 600;
    color: $blue;
  }

  ul {
    padding-left: rem(10);

    li {
      list-style: none;
      background: url('../img/bullet-orange.svg') rem(8) rem(8) no-repeat;
      padding-left: rem(30);
      font-weight: 300;
      line-height: rem(26);
    }
  }

  ol {
    list-style-type: none;
    counter-reset: li-counter;
    padding-left: rem(30);

    li {
      position: relative;
      padding-left: rem(8);
      line-height: rem(20);
      font-weight: 300;
      margin-bottom: rem(6);

      &:before {
        position: absolute;
        top: 0;
        left: -1em;
        content: counter(li-counter) '.';
        width: .8em;
        font-size: rem(20);
        line-height: rem(20);
        font-weight: bold;
        text-align: right;
        counter-increment: li-counter;
        color: #f16a22;
      }

      span.li-content {
        color: $text-color;
      }
    }
  }

  img {
    border: rem(6) solid $slider-stroke;
    margin-top: rem(20);
    margin-bottom: rem(20);

    &.alignleft {
      @include media($bp-above-mobile) {
        float: left;
        margin-right: rem(20);
      }
    }

    &.alignright {
      @include media($bp-above-mobile) {
        float: right;
        margin-left: rem(20);
      }
    }

    &.no-border {
      border: 0;
    }
  }

  .stitch {
    h2 {
      border-bottom: 1px solid $hr-grey;
      font-weight: 400;

      @include media($bp-above-mobile) {
        margin-bottom: rem(40);
      }
    }

    .post-content {

      @include clearfix;

      @include media($bp-above-mobile) {
        max-width: $max-width;
        margin: 0 auto;
      }

      @include media($bp-above-tablet) {
        border-radius: rem(18);
      }

      &.padded {
        @include media($bp-above-mobile) {
          padding: rem(40) rem(100);
        }
      }

      p {
        font-weight: 300;

        @include media($bp-above-mobile) {
          font-size: rem(22);
          line-height: rem(29);
          font-weight: 100;
        }
      }

      p:first-child,
      p:last-child {
        @include media($bp-above-mobile) {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .intro {
    text-align: center;
    font-size: rem(20);
    line-height: rem(25);
    font-style: italic;
    border-bottom: 1px solid $hr-grey;
    padding-bottom: rem(25);
  }

  .center {
    text-align: center;
  }

  form {
    text-align: center;

    input {
      width: 100%;
      padding: rem(8) rem(14);
      font-size: rem(13);
      font-weight: 400;
      color: $black;
      border: 1px solid #d2d2d2;

      @include media($bp-above-tablet) {
        width: auto;
      }
    }

    span.required {
      display: none;

      @include media($bp-above-tablet) {
        display: inline;
        color: $required;
      }
    }
  }

  ul.thumb-list {
    @extend %unlist;

    @include media($bp-above-mobile) {
      margin: 0 auto;
      max-width: rem(560);
    }

    li {
      @include clearfix;
      margin-bottom: rem(20);
      background: 0;
      padding-left: 0;
    }

    a.thumb {
      display: block;
      float: left;
      margin-right: rem(10);
      min-width: rem(95);
      max-width: 30%;

      @include media($bp-above-mobile) {
        margin-right: rem(30);
      }
    }

    a.thumb img {
      border: rem(5) solid $white;
      background: $white;
      width: rem(95);
      height: rem(75);

      @include media($bp-above-mobile) {
        width: rem(162);
        height: rem(128);
      }
    }

    a {
      color: $white;
      font-weight: 600;

      &.title {
        @include media($bp-above-mobile) {
          font-size: rem(20);
          line-height: rem(26);
        }
      }
    }

    .float {
      float: left;
      @include calc(width, '100% - 105px');

      @include media($bp-above-mobile) {
        @include calc(width, '100% - 192px');
      }
    }

    .excerpt {
      margin-top: rem(2);

      p {
        margin-top: 0;
      }
    }
  }
}

button {
  @extend %button;

  &.loading {
    .button-spinner {
      opacity: 1;
    }

    .button-label {
      opacity: 0;
    }
  }
}

.button-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  z-index: 2;
  width: 20px;
  height: 20px;
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity $transition-speed $transition-easing);
}

.button-label {
  z-index: 3;
  position: relative;
  @include transition(opacity $transition-speed $transition-easing);
}

#facebook {
  text-align: center;

  .fb-like-box {
    margin-bottom: rem(20);
  }
}

.banner {
  #page-banner {
    position: relative;
    margin: 0;
    border-top: rem(10) solid $banner-border;
    min-height: rem(50);

    @include media($bp-above-mobile) {
      border-bottom: rem(12) solid $blue;
      //margin-bottom: rem(40);
    }

    img {
      max-height: 720px;
    }

    figcaption {
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      background: $banner-background;
      color: $white;
      font-size: rem(31);
      font-weight: 200;
      padding: rem(2) rem(22) rem(5);

      @include media($bp-above-mobile) {
        width: auto;
        background: rgba(0, 0, 0, .69);
        text-shadow: 0 0 3px rgba(0, 0, 0, .75);
        font-size: rem(54);
        padding-left: rem(28);
        padding-right: rem(64);
      }
    }
  }

  &.who-we-are {
    #page-banner {
      border-bottom: rem(12) solid #a0cd60;
    }
  }

  &.post {
    #page-banner {
      border-bottom: 0;
    }
  }

  &.where-weve-been {
    #page-banner {
      border-bottom: 0;
    }
  }

  &.search {
    #page-banner {
      border-bottom: rem(12) solid #575757;
    }
  }

  &.whats-new {
    #page-banner {
      border-bottom: 0;
    }
  }
}

.pagination {
  background: $content-bg;
  font-size: rem(20);
  padding: rem(30) rem(22);
  @include clearfix;

  @include media($bp-above-mobile) {
    font-size: rem(25);
    line-height: rem(25);
    margin-top: rem(80);
  }

  .pagination-internal {
    @include media($bp-above-mobile) {
      width: 100%;
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  a.pagination-arrow {
    display: block;
    width: (100% / 3);
    text-decoration: none;
    min-height: 1px;

    .mobile-text {
      @include media($bp-above-mobile) {
        display: none;
      }
    }

    &.next {
      float: right;
      text-align: right;

      .arrow {
        margin-left: rem(30);
      }
    }

    &.previous {
      float: left;

      .arrow {
        margin-right: rem(30);
      }
    }
  }

  .page-nums {
    display: block;
    float: left;
    width: (100% / 3);
    text-align: center;

    a,
    span.current {
      display: inline-block;
      width: rem(26);
      font-size: rem(15);
      font-weight: bold;
      margin-right: rem(4);

      &:last-child {
        margin-right: 0;
      }
    }

    span.current {
      border: rem(2) solid $button-bg;
      color: $content-bg;
      background: $button-bg;
    }

    a {
      display: none;
      border: rem(2) solid $button-bg;
      text-decoration: none;
      @include transition(border $transition-speed);

      @include media($bp-above-mobile) {
        display: inline-block;
      }

      &:hover {
        border: rem(2) solid $green;
        color: $text-color;
      }
    }
  }
}

#email-signup {
  p,
  form {
    max-width: rem(590);
    margin: rem(20) auto;
  }

  form {
    @include clearfix;
  }

  form > p {
    @include media($bp-above-tablet) {
      float: left;
      text-align: left;
      @include calc(width, '50% - 10px');
    }

    &:first-child {
      @include media($bp-above-tablet) {
        margin-right: rem(20);
      }
    }

    input {
      width: 100%;

      @include media($bp-above-tablet) {
        @include calc(width, '100% - 10px');
      }
    }

    &.text-right {
      clear: both;
      float: none;
      width: 100%;
      margin: 0;

      @include media($bp-above-mobile) {
        text-align: right;
        padding-right: rem(10);
      }
    }
  }
}
