// Main Content Area

section.content-section,
div.content-section {
  &.padded {
    padding: rem(25);
  }

  &.bg-blue {
    background: url('img/bg-blue.svg') top left no-repeat;
    background-size: 700%;
    background-position: 65% 100%;
    color: $white;
  }

  .section-inner {
    padding: rem(25);
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  .intro {
    text-align: center;
    font-size: rem(20);
    line-height: rem(25);
    font-style: italic;
    border-bottom: 1px solid $hr-grey;
    padding-bottom: rem(25);
  }

  .center {
    text-align: center;
  }

  form {
    text-align: center;

    input {
      width: 100%;
      padding: rem(8) rem(14);
      font-size: rem(13);
      font-weight: 400;
      color: $black;
      border: 1px solid #d2d2d2;
    }

    button {
      position: relative;
      font-weight: 400;
      padding: rem(15) rem(40);
      background: $button-bg;
      color: $white;
      border: 0;
      border-radius: rem(7);
      box-shadow: 0 rem(6) 0 rgba(0, 0, 0, .2), inset 0 0 3px rgba(255, 255, 255, .2);
      outline: none;
      @include transition(
        background-color $transition-speed $transition-easing
      );

      &:hover {
        background-color: $link-visited;
      }

      &:active {
        top: 2px;
        box-shadow: 0 rem(4) 0 rgba(0, 0, 0, .2), inset 0 0 3px rgba(255, 255, 255, .2);
      }
    }
  }
}
