/**
 * Test documentation of a mixin
 * @param {Number} $width
 */
@mixin hr($width: 100%) {
  &:after {
    content: '';
    width: $width;
  }
}

/**
 * Add a background image to a link w/ background-size: cover
 * @param {String} $url
 * @param {String} $position
 */
@mixin quick-link($url, $position: 0 0, $bg-size: cover) {
  a {
    background-image: url($url);
    background-position: $position;
  }
}

/**
 * Search box styles
 * @param {String} $position
 * @param {Number} $top
 * @param {Number} $right
 */
@mixin search-box($position: static, $top: 0, $right: 0, $width: auto) {
  position: $position;

  @if $position == absolute {
    top: $top;
    right: $right;
    border: 1px solid $select-border;
    border-top: 0;
  }

  background: $search-box-bg;
  padding: rem(13);
  width: $width;
  text-align: center;

  label {
    position: relative;
  }

  .fa {
    position: absolute;
    top: rem(2);
    right: rem(10);
    font-size: rem(18);
    color: $text-color;
  }

  span.screen-reader-text {
    display: none;
  }

  input[type="search"],
  input[type="text"] {
    border: 1px solid $select-border;
    padding: rem(10) rem(5);
    font-size: rem(13);
    width: 90%;
    color: darken($text-color, 20%);
    @include appearance(none);

    @include placeholder {
      color: $search-box-border;
    }
  }

  input[type="submit"] {
    display: none;
  }
}

%button {
  position: relative;
  font-weight: 600;
  font-size: rem(18);
  padding: rem(15) rem(40);
  background: $button-bg;
  color: $white;
  border: 0;
  border-radius: rem(7);
  box-shadow: 0 rem(6) 0 rgba(0, 0, 0, .2), inset 0 0 3px rgba(255, 255, 255, .2);
  outline: none;
  text-decoration: none;
  max-width: rem(300);
  @include transition(
    background-color $transition-speed $transition-easing
  );

  &:hover {
    background-color: $link-visited;
  }

  &:active {
    top: 2px;
    box-shadow: 0 rem(4) 0 rgba(0, 0, 0, .2), inset 0 0 3px rgba(255, 255, 255, .2);
  }
}

%unlist {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

%slider-arrows {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: rem(8);
  padding-right: rem(8);

  .slider-arrow {
    float: left;
    display: block;
    border-radius: 50%;
    width: rem(36);
    height: rem(36);
    font-size: rem(22);
    font-weight: bold;
    background: $white;
    color: $black;
    text-align: center;
    padding-top: rem(4);
    opacity: .8;

    @include transition(opacity $transition-speed ease-out);

    &.right {
      float: right;
    }

    &:hover {
      opacity: 1;
    }
  }
}
