.popup {
  position: relative;
  background: $white;
  padding: rem(20);
  width: auto;
  max-width: rem(320);
  margin: rem(20) auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  border-radius: rem(6);

  a.button {
    display: block;
  }

  p {
    margin-top: rem(10);
    margin-bottom: rem(22);
  }

  h1 {
    margin-bottom: 0;
  }
}

