/**
 * Main Navigation container
 */
#main-nav {
  box-shadow: rem(-5) 0 rem(10) 0 rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: em(250);
  height: 100%;
  background: $white;

  @include transform(translate3d(rem(250), 0, 0));
  @include transition(transform 500ms);

  .search-form {
    background: $search-box-bg;
    padding: rem(15);

    span.screen-reader-text {
      display: none;
    }

    input[type="search"],
    input[type="text"] {
      padding: rem(10);
      font-size: rem(13);
      border: 1px solid $search-box-border;
      width: 90%;
      color: darken($text-color, 20%);

      @include placeholder {
        color: $search-box-border;
      }
    }

    input[type='submit'] {
      display: none;
    }
  }

  ul {
    @extend %unlist;

    li {
      border-bottom: 1px solid $nav-border;
    }

    a {
      position: relative;
      display: inline-block;
      padding: rem(20);
      font-size: rem(20);
      color: $blue;
      text-decoration: none;
      outline: none;
      @include transition(color $transition-speed, background-color $transition-speed);

      &:active {
        background: $blue;
        color: $white;
      }
    }
  }
}
