/**
 * Main Navigation container
 */
#main-nav {
  box-shadow: rem(-5) 0 rem(10) 0 rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: em(250);
  height: 100%;
  background: $white;

  @include transform(translate3d(rem(250), 0, 0));
  @include transition(transform 500ms);

  .search-form {
    background: $tan;

    span.screen-reader-text {
      display: none;
    }

    input[type='submit'] {
      display: none;
    }
  }
}
