section.content-section article.page,
div.content-section article.page {
  .post-header {
    hr {
      border: 0;
      border-bottom: 1px solid $post-byline-border;
      width: 100%;
    }
  }
}

section.stitch {
  padding-bottom: rem(20);
  padding-top: rem(20);
}

section.content-section article.stitch {

  .post-header {
    h2 {
      color: $blue;
      text-align: center;
    }

    &.white {
      h2 {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }

  .stitch-slider {
    @extend %slider-arrows;
  }

  .post-content {
    p:first-child {
      padding-top: rem(20);
    }

    p:last-child {
      padding-bottom: rem(20);
    }
  }
}
