section.content-section article.page,
div.content-section article.page {
  .post-header {
    hr {
      border: 0;
      border-bottom: 1px solid $post-byline-border;
      width: 100%;
    }
  }

  .post-content {
    h3 {
      font-size: rem(24);
      color: $blue;
    }

    &.padded {
      @include media($bp-above-mobile) {
        padding: rem(40) rem(100);
      }
    }
  }
}

section.stitch {
  padding-bottom: rem(20);
  padding-top: rem(20);
}

section.content-section article.stitch {
  position: relative;

  .post-header {
    h2 {
      color: $blue;
      text-align: center;
    }

    &.white {
      h2 {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }

  .stitch-slider {
    @extend %slider-arrows;
    position: relative;

    @include media($bp-above-mobile) {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  .post-content {
    p:first-child {
      padding-top: rem(20);
    }

    p:last-child {
      padding-bottom: rem(20);
    }
  }
}
