section.content-section article.post,
section.content-section article.page,
section.content-section article.stitch {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }

  .padded {
    padding-left: rem(25);
    padding-right: rem(25);

    @include media($bp-above-mobile) {
      width: 100%;
      max-width: $max-width;
      margin: 0 auto rem(40);
    }
  }

  .post-header {
    &.padded {
      @include media($bp-above-mobile) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    h1 {
      margin-top: rem(5);
      margin-bottom: rem(5);

      @include media($bp-above-mobile) {
        font-size: rem(40);
        text-align: center;
        margin-bottom: rem(40);
      }
    }

    .post-top {
      padding-top: rem(40);
      @include clearfix;

      &.single {
        padding: rem(40) rem(22) 0;
      }

      #breadcrumbs {
        float: left;
        margin-top: 0;
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(30);
        color: $text-color;
        @include calc(width, '100% - 76px');
      }
    }
  }

  .byline {
    font-size: rem(18);
    padding-bottom: rem(20);
    border-bottom: 1px solid $post-byline-border;

    a {
      padding-left: rem(5);
      font-style: italic;
    }
  }

  .post-tags,
  .post-date {
    font-style: italic;

    .fa {
      width: rem(20);
    }
  }

  .post-date {
    margin-top: rem(16);
  }

  .post-excerpt {
    font-style: italic;
    margin-bottom: rem(20);

    p {
      font-style: italic;
    }
  }
}

section.content-section article.post {
  .post-header {
    @include media($bp-above-mobile) {
      margin-bottom: rem(20);
    }

    h1 {
      @include media($bp-above-mobile) {
        text-align: left;
        padding: 0 rem(125);
        margin-bottom: rem(24);
        font-size: rem(40);
      }
    }

    .byline {
      @include media($bp-above-mobile) {
        padding: 0 rem(125) rem(20);
        font-size: rem(25);
        font-weight: 300;
      }

      a.author {
        @include media($bp-above-mobile) {
          padding-left: rem(16);
        }
      }
    }

  }

  .date-tags {
    @include media($bp-above-mobile) {
      width: 100%;
      max-width: $max-width;
      margin: 0 auto;

      @include clearfix;
    }
  }

  .post-date.padded {
    @include media($bp-above-mobile) {
      float: left;
      padding-left: rem(125);
      width: 40%;
    }

    .fa {
      @include media($bp-above-mobile) {
        font-size: rem(28);
        width: rem(40);
      }
    }

    time {
      font-size: rem(22);
    }
  }

  .post-tags {
    @include media($bp-above-mobile) {
      float: left;
      padding-right: rem(125);
      width: 60%;
    }

    .fa {
      @include media($bp-above-mobile) {
        font-size: rem(28);
        width: rem(40);
      }
    }

    .tags {
      @include media($bp-above-mobile) {
        font-size: rem(22);
      }
    }
  }

  .post-excerpt {
    @include media($bp-above-mobile) {
      padding: 0 rem(125);
    }

    p {
      @include media($bp-above-mobile) {
        font-size: rem(20);
        line-height: rem(26);
      }
    }
  }

  .post-featured-image {
    @include media($bp-above-mobile) {
      width: 100%;
      max-width: rem(1020);
      margin: 0 auto;
      border: rem(12) solid $slider-stroke;
    }

    img {
      @include media($bp-above-mobile) {
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .post-content {
    @include media($bp-above-mobile) {
      padding: 0 rem(125);
      font-size: rem(16);
      line-height: rem(26);
    }

    p:first-child {
      @include media($bp-above-mobile) {
        margin-top: rem(40);
      }
    }

    p:last-child {
      @include media($bp-above-mobile) {
        margin-bottom: rem(40);
      }
    }

    blockquote {
      @include media($bp-above-mobile) {
        padding: 0 rem(90);
        font-style: italic;
        font-size: rem(22);
        line-height: rem(29);
      }
    }
  }
}
