.testimonial-slider {
  max-width: rem(650);
  width: 100%;
  margin: 0 auto;

  ul.testimonials {
    @extend %unlist;
    margin-bottom: rem(12);

    li {
      @include clearfix;
    }

    .quote {
      float: left;
      font-size: rem(75);
      font-family: $source-sans;
      color: $button-bg;
      width: rem(53);
      padding-left: rem(14);

      &.right {
        text-align: right;
        padding-right: rem(14);
        padding-left: 0;
      }
    }

    blockquote {
      float: left;
      margin: 0;
      width: rem(214);
      text-align: center;
      padding: rem(8);

      .clear {
        clear: both;
      }

      p {
        margin-top: rem(10);
        margin-bottom: rem(6);
        line-height: rem(24);
      }

      cite {
        font-style: normal;
      }
    }
  }

  .dot-nav {
    text-align: center;

    a.slider-dot {
      display: inline-block;
      border: 3px solid $blue;
      background: $white;
      width: rem(50);
      height: rem(12);
      margin-right: rem(16);
      margin-left: rem(16);

      @include transition(background-color $transition-speed $transition-easing);

      &:hover, &.current {
        background: $blue;
      }
    }
  }
}
