.testimonial-slider {
  max-width: rem(650);
  width: 100%;
  margin: 0 auto;

  ul.testimonials {
    @extend %unlist;

    li {
      @include clearfix;
    }

    .quote {
      float: left;
      font-size: rem(75);
      font-family: $source-sans;
      color: $button-bg;
      width: rem(53);
      padding-left: rem(14);

      &.right {
        text-align: right;
        padding-right: rem(14);
        padding-left: 0;
      }
    }

    blockquote {
      float: left;
      margin: 0;
      width: rem(214);
      text-align: center;
      padding: rem(8);

      .clear {
        clear: both;
      }

      p {
        margin-top: rem(10);
        margin-bottom: rem(6);
        line-height: rem(24);
      }

      cite {
        font-style: normal;
      }
    }
  }
}
