// Fourth Wall Events: Base Variables

/**
 * **Neat grid override:** max container width
 * @type Number
 */
$max-width: em(1060);

/**
 * Body background color
 * @type Color
 */
$background: #fff;

/**
 * Default text color
 * @type Color
 */
$text-color: #747474;

/**
 * Base font size for the whole document
 * @type Number
 */
$base-font-size: 16px;

/**
 * Source Sans Pro font w/ fallbacks
 * @type String
 */
$source-sans: 'Source Sans Pro', 'Helvetica', 'Arial', arial, sans-serif;

/**
 * Default Colors: Tan
 * @type Color
 */
$tan: #f8f4ea;

/**
 * Default Colors: Blue
 * @type Color
 */
$blue: #008fd1;

/**
 * Default Colors: White
 * @type Color
 */
$white: #fff;

/**
 * Default Colors: Black
 * @type Color
 */
$black: #000;
