// Fourth Wall Events: Base Variables

/**
 * **Neat grid override:** max container width
 * @type Number
 */
$max-width: rem(1060);

/**
 * Body background color
 * @type Color
 */
$background: #fff;

/**
 * Default text color
 * @type Color
 */
$text-color: #747474;

/**
 * Base font size for the whole document
 * @type Number
 */
$base-font-size: 16px;
$em-base: $base-font-size;

/**
 * Source Sans Pro font w/ fallbacks
 * @type String
 */
$source-sans: 'Source Sans Pro', 'Helvetica', 'Arial', arial, sans-serif;

/**
 * Default Colors: Tan
 * @type Color
 */
$tan: #f8f4ea;

/**
 * Default Colors: Blue
 * @type Color
 */
$blue: #008fd1;

/**
 * Default Colors: orange
 * @type Color
 */
$orange: #faaf40;

/**
 * Default Colors: green
 * @type Color
 */
$green: #61ba4b;

/**
 * Default Colors: pink
 * @type Color
 */
$pink: #df74ac;

$red: #f70202;

$hr-grey: #adadad;
$footer-credits: #333;
$footer-green: #02535f;
$footer-dark-green: #013037;
$slider-stroke: #e6e6e6;
$link-hover: $pink;
$button-bg: #d13e95;
$link-visited: #a91b70;
$homepage-title: $blue;
$news-title: #f16a22;
$content-bg: #f9f7f0;
$search-bg: #f5f4f4;
$search-box-bg: #f8f4ea;
$search-box-border: #aaa;
$cta-text: #58595b;
$nav-border: #f2f2f2;
$banner-border: #333;
$banner-background: #4f4f4f;
$post-links-top-border: $button-bg;
$post-links-bottom-border: $blue;
$post-byline-border: #b7b9bb;
$team-viewer-grey: #ebebeb;
$team-member-border: #bbbcbc;
$gallery-links-top-border: #f58523;
$gallery-links-bottom-border: $button-bg;
$gallery-header-text: $button-bg;
$select-border: #e2e2e2;


/**
 * Default Colors: White
 * @type Color
 */
$white: #fff;

/**
 * Default Colors: Black
 * @type Color
 */
$black: #000;

/**
 * Slick carousel font path
 * @type String
 */
$slick-font-path: '../fonts/';

/**
 * Slick AJAX loader image path
 * @type String
 */
$slick-loader-path: '../img/';

$transition-speed: 300ms;
$transition-easing: ease-out;

// Font Weights
$light: 100;
$normal: 400;
$bold: 700;
